$base-color: #333;
$primary-color: #000;
$additional-color: #858585;
$yellow: #ffd93e;

$base-background: #fff;
$block-background: #f7f7f7;

$modal-background: rgba(0, 0, 0, .3);
$modal-background-hidden: rgba(0, 0, 0, 0);

$border: #f0f0f0;