$base-color: #333;
$base-icon: #666;
$primary-color: #000;
$additional-color: #858585;
$yellow: #ffd93e;
$invert-color: #fff;


$base-background: #fff;
$block-background: #fAfAfA;
$block-hover-background: #f3f3f3;
$elem-background: #E5E5E5;
$critical-background: #DB5341;
$background-icon: rgba(216, 216, 216, 0.90);

$music-button-fill: #8C8B8B;
$music-button-background:  rgba(216,216,216,0.40);
$music-range-back:#979797;
$music-range-slider:#D8D8D8;
$music-range-slider-two:#605757;

$device-light-gradient: linear-gradient(90deg, #ffe88c 0%, #ffb100 100%);
$device-temp-gradient: linear-gradient(90deg, #068fff 2%, #ffd800 51%, #f76b1c 100%);



$modal-background: rgba(0, 0, 0, .3);
$modal-background-hidden: rgba(0, 0, 0, 0);

$border: #f0f0f0;