$base-color: #333;
$primary-color: #000;
$additional-color: #858585;
$yellow: #ffd93e;
$invert-color: #fff;


$base-background: #fff;
$block-background: #fAfAfA;
$block-hover-background: #f3f3f3;
$elem-background: #E5E5E5;
$critical-background: #DB5341;

$music-button-fill: #8C8B8B;
$music-button-background:  rgba(216,216,216,0.40);


$modal-background: rgba(0, 0, 0, .3);
$modal-background-hidden: rgba(0, 0, 0, 0);

$border: #f0f0f0;