<main class="main">
    <div class="events">
        <div class="event event-big">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#stats'></use>
                </svg>
                <span class="event__title">Еженедельный отчет по расходам ресурсов</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Сенсоры потребления</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
            <span class="event__description event__description_big">Так держать! За последнюю неделю вы потратили
на 10% меньше ресурсов, чем неделей ранее.</span>
                <div class="event__data">
                    <div class="data__image">
                        <img src="./Richdata.svg" alt="График">
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#robot-cleaner'></use>
                </svg>
                <span class="event__title">Уборка закончена</span>
            </div>
            <div class="event__info">
                <span class="event__source">Пылесос</span>
                <span class="event__time">18:45, Сегодня</span>
            </div>
        </div>
        <div class="event">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#router'></use>
                </svg>
                <span class="event__title">Новый пользователь</span>
            </div>
            <div class="event__info">
                <span class="event__source">Роутер</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
        </div>
        <div class="event">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#router'></use>
                </svg>
                <span class="event__title">Дверь открыта</span>
            </div>
            <div class="event__info">
                <span class="event__source">Сенсор входной двери</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
        </div>
        <div class="event event-middle">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#thermal'></use>
                </svg>
                <span class="event__title">Изменен климатический режим</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Сенсор микроклимата</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
                <span class="event__description">Установлен климатический режим «Фиджи»</span>
                <div class="event__data">
                    <div class="data__climate">
                        <span class="climate__type">Температура: </span><span class="climate__value">24 С</span>
                        <span class="climate__type">Влажность: </span><span class="climate__value">80%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="event event-middle">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#fridge'></use>
                </svg>
                <span class="event__title">Заканчивается молоко</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Холодильник</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
                <span class="event__description">Кажется, в холодильнике заканчивается молоко. Вы хотите добавить его в список покупок?</span>
                <div class="event__data">
                    <div class="data__buttons">
                        <button class="data__button">Да</button>
                        <button class="data__button">Нет</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="event event-middle event-critical">
            <div class="event__main-info">
                <svg class="event__icon event__icon_critical">
                    <use xlink:href='#air-conditioner'></use>
                </svg>
                <span class="event__title event__title_critical">Невозможно включить кондиционер</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Кондиционер</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
                <span class="event__description">В комнате открыто окно, закройте его и повторите попытку</span>
            </div>
        </div>
        <div class="event event-middle">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#fridge'></use>
                </svg>
                <span class="event__title">Музыка включена</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Яндекс.Станция</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
                <span class="event__description">Сейчас проигрывается:</span>
                <div class="event__data">
                    <div class="data__music">
                        <!--<div class="data__music_image">-->
                        <!--</div>-->
                        <div class="data__music_composition">
                            <img src="./album-cover.png" alt="Обложка альбома">
                            <span class="data__music_composition-title">Florence & The Machine - Big God</span>
                            <input type="range" min="0" max="271" value="70">
                            <span class="data__music_composition-duration">4:31</span>
                        </div>
                        <div class="data__music_composition-controls">
                            <svg class="music__icon music__icon_prev">
                                <use xlink:href='#music-control'></use>
                            </svg>
                            <svg class="music__icon music__icon_next">
                                <use xlink:href='#music-control'></use>
                            </svg>
                            <input type="range" min="0" max="100" value="80" class="data__music_composition-volume">
                            <span class="data__music_composition-duration">80%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#router'></use>
                </svg>
                <span class="event__title">Зарядка завершена</span>
            </div>
            <div class="event__info">
                <span class="event__source">Оконный сенсор</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
        <span class="event__description">
            Ура! Устройство «Оконный сенсор» снова в строю!
        </span>
            </div>
        </div>
        <div class="event event-big event-critical">
            <div class="event__main-info">
                <svg class="event__icon event__icon_critical">
                    <use xlink:href='#cat-white'></use>
                </svg>
                <span class="event__title event__title_critical">Пылесос застрял gfrdemnbwhfnd wmlkcfnhebwndjs Пылесос застрял gfrdemnbwhfnd wmlkcfnhebwndjs  mdklcfenhbnwjmk fre,gfvnbhcd kmwcfebgvhcdwjkmlcfej</span>
            </div>
            <div class="event__info">
                <span class="event__source event__source_small">Сенсор движения</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
            <div class="additional-info">
            <span class="event__description event__description_big">Робопылесос не смог сменить свое местоположение
в течение последних 3 минут. Похоже, ему нужна
помощь.</span>
                <div class="event__data">
                    <div class="data__image">
                        <img src="./image.jpg" alt="График">
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="event__main-info">
                <svg class="event__icon">
                    <use xlink:href='#kettle'></use>
                </svg>
                <span class="event__title">Вода вскипела</span>
            </div>
            <div class="event__info">
                <span class="event__source">Чайник</span>
                <span class="event__time">18:51, Сегодня</span>
            </div>
        </div>
    </div>
</main>