@import '../../shared/variables';
@import '../../shared/mixin';

.event {
  grid-column: span 2;
  grid-row: span 1;
  cursor: pointer;
  border-radius: 20px;
  background-color: $block-background;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  font-family: Arial;
  font-weight: 400;
  color: $base-color;
  border: 1px solid $base-color;
  position: relative;
}

.event:before{
  content: url("./cross.svg");
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #666;
  stroke: #666;
}

.event:after{
  content: url("./Next.svg");
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.event-middle {
  grid-column: span 3;
}

.event-big {
  grid-column: span 4;
  grid-row: span 3;
}


.event__title {
  width: 72%;
  font-weight: bold;
  $map: (320px: 14px, 400px: 14px, 992px: 24px);
  @include poly-fluid-sizing('font-size', $map);
  overflow: hidden;
  $map: (320px: 35px, 400px: 35px, 992px: 55px);
  @include poly-fluid-sizing('max-height', $map);
  text-overflow: ellipsis;
}

.event__main-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: flex-start;

  $map: (320px: 16px, 400px: 16px, 600px:17px, 992px: 20px);
  @include poly-fluid-sizing('margin-right', $map);
  @include poly-fluid-sizing('margin-left', $map);
  @include poly-fluid-sizing('margin-top', $map);
  margin-bottom: 0;
}

.event__icon {
  $map: (320px: 35px, 400px: 35px, 992px: 55px);
  @include poly-fluid-sizing('width', $map);
  @include poly-fluid-sizing('height', $map);

  $map: (320px: 16px, 400px: 16px, 992px: 19.4px);
  @include poly-fluid-sizing('margin-right', $map);
}

.event__info {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-between;
  $map: (320px: 12px, 400px: 12px, 992px: 18px);
  @include poly-fluid-sizing('font-size', $map);

  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-right', $map);
  @include poly-fluid-sizing('margin-left', $map);
  @include poly-fluid-sizing('margin-bottom', $map);
  margin-top: 0;
}

.event__source {
  width: 100%;

  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-top', $map);
}

.event__time {
  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-top', $map);
}

.event__source_small {
  width: fit-content;
}

.event__description {
  font-weight: 400;
  word-wrap: break-word;
  color: $primary-color;
  $map: (320px: 18px, 400px: 18px, 992px: 20px);
  @include poly-fluid-sizing('font-size', $map);

  @media screen and (min-width: 900px) {
    width: 87%;
  }
}

.event__description_big{
  $map: (320px: 18px, 400px: 18px, 992px: 24px);
  @include poly-fluid-sizing('font-size', $map);
}

.event__data {
  margin-top: 18px;
  color: $primary-color;
  $map: (320px: 14px, 400px: 14px, 992px: 18px);
  @include poly-fluid-sizing('font-size', $map);
}

.climate__value {
  margin-right: 35px;
  font-weight: bold;
}

.data__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.data__button {
  border: 0;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  background-color: $elem-background;
  padding: 15px 20px;
  min-width: 132px;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;


  margin-right: 18px;
}

.data__button:first-child {
  background-color: $yellow;
}

.event__icon{
  fill: $base-color;
}



.additional-info{
  border-radius: 18px;
  background-color: $block-background;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: auto;

  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('padding', $map);

}

.data__music{
  height: 150px;
  width: 100%;
  background-color: cadetblue;
  border-radius: 20px;
}

.data__image{
  width: 100%;
}

.data__image img{
  width: 100%;
  height: auto;
}





.event__icon_critical{
  fill: $invert-color;
}


.event-critical {
  background-color: $critical-background;
  color: $invert-color;
}

