@import '../../shared/variables';
@import '../../shared/mixin';

.event {
  grid-column: span 2;
  grid-row: span 1;
  cursor: pointer;
  border-radius: 20px;
  background-color: $block-background;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  font-family: Arial;
  font-weight: 400;
  color: $base-color;
  position: relative;
}


.event__close {
  position: absolute;
  top: 17px;
  right: 17px;
  fill: #666;
  stroke: #666;
  border-radius: 20px;
  background-color: rgba(216, 216, 216, 0.90);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.event__close_white {
  fill: $invert-color;
  stroke: $invert-color;
  background-color: #DB5341;
}

.event__open {
  position: absolute;
  bottom: 17px;
  right: 17px;
  border-radius: 20px;
  background-color: rgba(216, 216, 216, 0.90);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.event-control {
  visibility: hidden;
}

.event {
  &:hover {
    & .event-control {
      visibility: visible;
    }
  }
}

@media (hover: none) {
  .event-control {
    display: none;
  }
}

.event-middle {
  grid-column: span 3;
}

.event-big {
  grid-column: span 4;
  grid-row: span 3;
}

.event__title {
  width: 72%;
  font-weight: bold;
  $map: (320px: 14px, 400px: 14px, 992px: 24px);
  @include poly-fluid-sizing('font-size', $map);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  position: relative;
  height: calc(.99em * 1.2 * 2);
}

@supports (-webkit-line-clamp: 1) {
  .event__title {
    height: auto;
  }
}

@supports not (-webkit-line-clamp: 1) {

  .event-title {

  }
  .event__title:after {
    content: '';
    bottom: 0;
    right: 0;
    width: 35%;
    display: block;
    position: absolute;
    height: calc(1em * 1.2);
    background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1) 75%);
  }

  .event__title_critical:after {
    background: linear-gradient(to right, rgba(219, 83, 65, 0), rgba(219, 83, 65, 1) 75%);
  }

  .event {
    &:hover {
      & .event__title:after {
        background: linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 75%);
      }
      & .event__title_critical:after {
        background: linear-gradient(to right, rgba(219, 83, 65, 0), rgba(219, 83, 65, 1) 75%);
      }
    }
  }

}

.event:hover {
  background-color: $block-hover-background;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
  & .additional-info {
    background-color: $block-hover-background;
  }
}

.event-critical:hover {
  background-color: $critical-background;
}

.event__main-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  $map: (320px: 16px, 400px: 16px, 600px:17px, 992px: 20px);
  @include poly-fluid-sizing('margin-right', $map);
  @include poly-fluid-sizing('margin-left', $map);
  @include poly-fluid-sizing('margin-top', $map);
  margin-bottom: 0;
}

.event__icon {
  $map: (320px: 35px, 400px: 35px, 992px: 55px);
  @include poly-fluid-sizing('width', $map);
  @include poly-fluid-sizing('height', $map);

  $map: (320px: 16px, 400px: 16px, 992px: 19.4px);
  @include poly-fluid-sizing('margin-right', $map);
}

.event__info {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-between;
  $map: (320px: 12px, 400px: 12px, 992px: 18px);
  @include poly-fluid-sizing('font-size', $map);

  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-right', $map);
  @include poly-fluid-sizing('margin-left', $map);
  @include poly-fluid-sizing('margin-bottom', $map);
  margin-top: 0;
}

.event__info_last {
  margin-top: auto;
}

.event__source {
  width: 100%;

  $map: (320px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-top', $map);
}

.event__time {
  $map: (320px: 16px, 992px: 20px);
  @include poly-fluid-sizing('margin-top', $map);
}

.event__source_small {
  width: fit-content;
}

.event__description {
  font-weight: 400;
  word-wrap: break-word;
  color: $primary-color;
  $map: (320px: 18px, 400px: 18px, 992px: 20px);
  @include poly-fluid-sizing('font-size', $map);

  @media screen and (min-width: 1100px) {
    width: 87%;
  }
}

.event__description_big {
  $map: (320px: 18px, 400px: 18px, 992px: 24px);
  @include poly-fluid-sizing('font-size', $map);
}

.event__data {
  margin-top: 18px;
  color: $primary-color;
  $map: (320px: 14px, 400px: 14px, 992px: 18px);
  @include poly-fluid-sizing('font-size', $map);
}

.climate__value {
  margin-right: 35px;
  font-weight: bold;
}

.data__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.data__button {
  border: 0;
  font-weight: bold;
  cursor: pointer;
  background-color: $elem-background;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;

  $map: (320px: 114px, 992px: 132px);
  @include poly-fluid-sizing('min-width', $map);

  margin-right: 18px;
}

.data__button:first-child {
  background-color: $yellow;
}

.data__button:last-child {
  margin-right: 0;
}

.data__climate{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event__icon {
  fill: $base-color;
}

.additional-info {
  border-radius: 18px;
  background-color: $block-background;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: auto;

  $map: (320px: 16px, 400px: 16px, 992px: 20px);
  @include poly-fluid-sizing('padding', $map);

}

.additional-info_disabled {
  display: none;
}

.data__music {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.data__music_image {
  height: 50px;
}

.data__image {
  width: 100%;
}

.data__image img {
  width: 100%;
  height: auto;
  border-radius: 0 0 20px 20px;
}

.data__music_composition {
  width: 70%;
}

.data__music_image {
  margin-right: 10px;
}

.music__icon {
  fill: $music-button-fill;
  width: 45px;
  height: 44px;
  border-radius: 50%;
  background-color: $music-button-background;
}

.music__icon_prev {
  margin-right: 12px;
}

.music__icon_next {
  transform: rotate(180deg);
  margin-right: 12px;
}

.data__music_composition-volume {
  width: 35%;
}

.data__music_composition-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data__music_composition-title {
  $map: (320px: 18px, 992px: 20px);
  @include poly-fluid-sizing('font-size', $map);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  position: relative;
  height: calc(.99em * 1.2 * 1);
}


.event__touch-info{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  $map: (320px: 12px, 992px: 16px);
  @include poly-fluid-sizing('font-size', $map);
}


@supports not (-webkit-line-clamp: 1) {
  .data__music_composition-title:after {
    content: '';
    bottom: 0;
    right: 0;
    width: 40%;
    display: block;
    position: absolute;
    height: calc(1em * 1.2);
    background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1) 75%);
  }

  .event {
    &:hover {
      & .data__music_composition-title:after {
        background: linear-gradient(to right, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1) 75%);
      }
    }
  }
}

.event__icon_critical {
  fill: $invert-color;
}

.event-critical {
  background-color: $critical-background;
  color: $invert-color;
}

