@import '../../shared/variables';
@import '../../shared/mixin';

.main {
  padding: 20px;
}

.events {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;

  margin: 0 auto;
  margin-top: 10vh;

  $map: (576px: 8px, 768px:8px, 1000px: 15px, 1120px: 20px);
  @include poly-fluid-sizing('grid-gap', $map);

}

.event {
  grid-column: span 1;
  grid-row: span 1;
}

.event-middle {
  grid-column: span 3;
  grid-row: span 1;
}

.event-big {
  grid-column: span 2;
  grid-row: span 3;
}

@media screen and (max-width: 576px) {
  .events {
    display: flex;
    flex-direction: column;
  }

  .event {
    margin-bottom: 20px;
  }

  .event__source {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .event__source {
    width: 75%;
  }

}

@media screen and (min-width: 1000px) {
  .event {
    grid-column: span 2;
    grid-row: span 1;
  }

  .event-middle {
    grid-column: span 3;
  }

  .event-big {
    grid-column: span 4;
    grid-row: span 3;
  }

  .events {
    grid-template-columns: repeat(auto-fit, 140px);
    max-width: 915px;
    grid-gap: 15px;
  }

}

@media screen and (min-width: 1150px) {
  .event {
    grid-column: span 2;
    grid-row: span 1;
  }

  .event-middle {
    grid-column: span 3;
  }

  .event-big {
    grid-column: span 4;
    grid-row: span 3;
  }

  .events {
    grid-template-columns: repeat(auto-fit, 167px);
    max-width: 1102px;
  }

}







